In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
print("All Libraries are sucessfully imported")

All Libraries are sucessfully imported

In [5]:
df1=pd.read_csv("bengaluru_house_prices.csv")
df1

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [7]:
df1.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [19]:
df1["area_type"].unique().sum()

'Super built-up  AreaPlot  AreaBuilt-up  AreaCarpet  Area'

for i in df1["location"].unique():
    print(i)

In [57]:
# for loc in df1["location"].unique():
#     print(loc)

### How many Types of Romms Size are Available

In [75]:
df1["size"].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', nan, '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [79]:
len(df1["size"].unique())

32

### How many Types of Balcony are avaialable

In [82]:
df1.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [84]:
df1["balcony"].unique()

array([ 1.,  3., nan,  2.,  0.])

In [88]:
len(df1["balcony"].unique())

5

In [90]:
for i in df1["balcony"].unique():
    print(i)

1.0
3.0
nan
2.0
0.0

In [94]:
df1.shape

(13320, 9)

In [96]:
df1.groupby("area_type")["area_type"].agg('count')

area_type
Built-up  Area          2418
Carpet  Area              87
Plot  Area              2025
Super built-up  Area    8790
Name: area_type, dtype: int64

In [106]:
df2=df1.drop(["area_type","society","balcony"],axis="columns",inplace=True)

In [120]:
df2=df1.drop(["availability"],axis="columns",inplace=True)

In [124]:
df1.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [128]:
df3=df1

In [132]:
df3.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [136]:
df3.isnull

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [158]:
df2=df3.dropna(inplace=True)

In [160]:
df3.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [168]:
df3.shape
## we can see no the shape of the dataset has changed and its rows and column size is also decrease

(13246, 5)

#### Creating a New Column BHK with the help of the column size and it will only return the value of the romm in BHK

In [175]:
df3["BHK"]=df3["size"].apply(lambda x: int(x.split(" ")[0]))

In [177]:
df3.head()

                   location       size total_sqft  bath   price  BHK
0  Electronic City Phase II      2 BHK       1056   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4
2               Uttarahalli      3 BHK       1440   2.0   62.00    3
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00    3
4                  Kothanur      2 BHK       1200   2.0   51.00    2

In [183]:
df3["BHK"].unique()

array([ 2,  4,  3,  6,  1,  8,  7,  5, 11,  9, 27, 10, 19, 16, 43, 14, 12,
       13, 18], dtype=int64)

#### Analysing the BHK Size 
there are a house of 43 rooms which is generally not possible in 200 sqtfoot

In [200]:
df3[df3.BHK>20]

                       location        size total_sqft  bath  price  BHK
1718  2Electronic City Phase II      27 BHK       8000  27.0  230.0   27
4684                Munnekollal  43 Bedroom       2400  40.0  660.0   43

In [188]:
df3.total_sqft.unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

#### Create a function to convert the unstructured data in total_sqft column which will create a error for our model

In [213]:
print(df3["total_sqft"].dtype)

object

In [217]:
### converting the whole dataset in float datatype
def isfloat(X):
    try:
        float(X)
    except:
        return False
    return True

In [227]:
df3[df3["total_sqft"].apply(isfloat)]
df3.head(410)

                     location       size      total_sqft  bath   price  BHK
0    Electronic City Phase II      2 BHK            1056   2.0   39.07    2
1            Chikka Tirupathi  4 Bedroom            2600   5.0  120.00    4
2                 Uttarahalli      3 BHK            1440   2.0   62.00    3
3          Lingadheeranahalli      3 BHK            1521   3.0   95.00    3
4                    Kothanur      2 BHK            1200   2.0   51.00    2
..                        ...        ...             ...   ...     ...  ...
409             Sultan Palaya  2 Bedroom             550   1.0   62.00    2
410                   Kengeri      1 BHK  34.46Sq. Meter   1.0   18.50    1
411           Sanne Amanikere      2 BHK            1185   2.0   38.00    2
412                   Kengeri      2 BHK             750   2.0   38.00    2
413        Mahalakshmi Layout  6 Bedroom            1200   7.0  250.00    6

[410 rows x 6 columns]

In [245]:
def convert_sqft_to_float(x):
    tokens=x.split("-")
    if len(tokens)==2:
        return(float(tokens[0])+float(tokens[1]))/2
    try:
        return float(x)
    except:
        return None

In [247]:
 convert_sqft_to_float("2100")

2100.0

In [249]:
 convert_sqft_to_float("2100-2200")

2150.0

In [251]:
 convert_sqft_to_float("34.46Sq. Meter")

In [255]:
# df3[df3["total_sqft"].apply(convert_sqft_to_float)]

In [259]:
### creating a new variable and storing the data in that variable 
df4=df3.copy()
df4["total_sqft"]=df4["total_sqft"].apply(convert_sqft_to_float)

In [261]:
df4.head()

                   location       size  total_sqft  bath   price  BHK
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0   51.00    2

In [263]:
df4.iloc[30:42]

                    location   size  total_sqft  bath   price  BHK
30                 Yelahanka  4 BHK      2475.0   4.0  186.00    4
31             Bisuvanahalli  3 BHK      1075.0   2.0   35.00    3
32                    Hebbal  3 BHK      1760.0   2.0  123.00    3
33     Raja Rajeshwari Nagar  3 BHK      1693.0   3.0   57.39    3
34             Kasturi Nagar  3 BHK      1925.0   3.0  125.00    3
35            Kanakpura Road  2 BHK       700.0   2.0   36.00    2
36  Electronics City Phase 1  2 BHK      1070.0   2.0   45.50    2
37              Kundalahalli  3 BHK      1724.0   3.0  125.00    3
38            Chikkalasandra  3 BHK      1290.0   2.0   56.12    3
39               Uttarahalli  2 BHK      1143.0   2.0   45.00    2
40             Murugeshpalya  2 BHK      1296.0   2.0   81.00    2
41            Sarjapur  Road  3 BHK      1254.0   3.0   38.00    3

In [265]:
df4.iloc[405:415]

               location       size  total_sqft  bath  price  BHK
409       Sultan Palaya  2 Bedroom       550.0   1.0   62.0    2
410             Kengeri      1 BHK         NaN   1.0   18.5    1
411     Sanne Amanikere      2 BHK      1185.0   2.0   38.0    2
412             Kengeri      2 BHK       750.0   2.0   38.0    2
413  Mahalakshmi Layout  6 Bedroom      1200.0   7.0  250.0    6
414      Kanakpura Road      3 BHK      1550.0   3.0   64.5    3
415         Amco Colony      3 BHK      1760.0   3.0   88.0    3
416        Billekahalli      2 BHK      1125.0   2.0   62.0    2
417          Nagarbhavi  3 Bedroom      1350.0   3.0  150.0    3
418          Anandapura  2 Bedroom      1000.0   2.0   55.0    2

#### Feature Engineering

In [274]:
### creating a New Column Price_per_sqft using the concept of Feature Engineering 
#### creating this column for the better understanding of the houses price and to detect the outliers in the dataset
df5=df4.copy()
df5["Price_Per_Sqft"]=df5["price"]*100000/df5["total_sqft"]
df5.head()

,location,size,total_sqft,bath,price,BHK,Price_Per_Sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000

In [278]:
len(df5["location"].unique())

1304

In [280]:
### changing the values of the lower frequency of the data in the location column

In [292]:
## to decrease the dimension for the one hot encoding conversion in the dataset which is 
## necessary to convert for the training of model 
df5.location=df5.location.apply(lambda x: x.strip())
location_status=df5.groupby("location")["location"].agg("count")
location_status

location
1 Annasandrapalya                                  1
1 Giri Nagar                                       1
1 Immadihalli                                      1
1 Ramamurthy Nagar                                 1
12th cross srinivas nagar banshankari 3rd stage    1
                                                  ..
t.c palya                                          1
tc.palya                                           4
vinayakanagar                                      1
white field,kadugodi                               1
whitefiled                                         1
Name: location, Length: 1293, dtype: int64

In [312]:
df5.location=df5.location.apply(lambda x: x.strip())
location_status=df5.groupby("location")["location"].agg("count").sort_values(ascending=False)
location_status

location
Whitefield               535
Sarjapur  Road           392
Electronic City          304
Kanakpura Road           266
Thanisandra              236
                        ...
1 Giri Nagar               1
Kanakapura Road,           1
Kanakapura main  Road      1
Karnataka Shabarimala      1
whitefiled                 1
Name: location, Length: 1293, dtype: int64

In [288]:
print(location_status)

location
1 Annasandrapalya                                  1
1 Giri Nagar                                       1
1 Immadihalli                                      1
1 Ramamurthy Nagar                                 1
12th cross srinivas nagar banshankari 3rd stage    1
                                                  ..
t.c palya                                          1
tc.palya                                           4
vinayakanagar                                      1
white field,kadugodi                               1
whitefiled                                         1
Name: location, Length: 1293, dtype: int64

In [296]:
len(location_status[location_status<=10])

1052

In [298]:
len(location_status[location_status>10])

241

In [300]:
df5.location.nunique()

1293

In [302]:
location_status_less_than_10=location_status[location_status<10]

In [318]:
## converting the location count value that is less than 10 to others
df5.location=df5.location.apply(lambda x:"other" if x in location_status_less_than_10 else x)
df5.head(20)

,location,size,total_sqft,bath,price,BHK,Price_Per_Sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000
5,Whitefield,2 BHK,1170.0,2.0,38.00,2,3247.863248
6,Old Airport Road,4 BHK,2732.0,4.0,204.00,4,7467.057101
7,Rajaji Nagar,4 BHK,3300.0,4.0,600.00,4,18181.818182
8,Marathahalli,3 BHK,1310.0,3.0,63.25,3,4828.244275
9,other,6 Bedroom,1020.0,6.0,370.00,6,36274.509804
10,Whitefield,3 BHK,1800.0,2.0,70.00,3,3888.888889
11,Whitefield,4 Bedroom,2785.0,5.0,295.00,4,10592.459605
12,7th Phase JP Nagar,2 BHK,1000.0,2.0,38.00,2,3800.000000
13,Gottigere,2 BHK,1100.0,2.0,40.00,2,3636.363636
14,Sarjapur,3 Bedroom,2250.0,3.0,148.00,3,6577.777778
15,Mysore Road,2 BHK,1175.0,2.0,73.50,2,6255.319149
16,Bisuvanahalli,3 BHK,1180.0,3.0,48.00,3,4067.796610
17,Raja Rajeshwari Nagar,3 BHK,1540.0,3.0,60.00,3,3896.103896
18,other,3 BHK,2770.0,4.0,290.00,3,10469.314079
19,other,2 BHK,1100.0,2.0,48.00,2,4363.636364

In [320]:
len(df5.location.unique())

255